.settings_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 12px;
  // border: 1px solid #2c3e608c;
  // border-radius: 5px;
  color: var(--blue);
  font-size: 1.1em;
}
.settingstext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.settingsform {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 10px 0;
  color: var(--blue);
  font-size: 1.1em;
  input {
    width: 100%;
    padding: 9px 10px;
    border: 1px solid #2c3e604f;
    border-radius: 5px;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 0.9em;
  }
  input::placeholder {
    color: var(--blue);
    opacity: 0.7;
  }
  button {
    width: 100%;
    cursor: pointer;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 9px;
    font-weight: 500;
    color: var(--white);
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;
}
.inputbox {
  width: 100%;
  position: relative;
  .error {
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
  .errormessage {
    position: absolute;
    top: -16;
    left: 10;
    color: rgba(255, 0, 0, 0.7);
    font-size: 0.7em;
    font-weight: 600;
    text-wrap: nowrap;
    margin: 5px 0 0 0;
    padding: 0 5px;
    background: white;
  }
}
.errorgeneral {
  width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: rgba(255, 0, 0, 0.7);
}
.settingsform.active {
  display: flex;
}
.deletewarning {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: #fef2f2;
  border: 1px solid #fecaca;
  border-radius: 5px;
  margin: 10px 0;

  p {
    color: #dc2626;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
  }
}
.checkboxcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.checkboxlabel {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  input {
    width: 5%;
    cursor: pointer;
  }
  p {
    font-size: 0.7em;
    font-weight: 500;
    color: var(--blue);
    width: 95%;
  }
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
