.joincrew {
  width: clamp(300px, 90%, 1300px);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 150px;
  background: red;
}
.image {
  width: 50%;
  aspect-ratio: 16/9;
  position: relative;
}
.form {
  width: 50%;
}

@media (max-width: 900px) {
  .joincrew {
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}
