.savedPosts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.emptyposts {
  width: 100%;
  height: 190px;
  border: 1px dotted #2c3e608c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--blue);
  font-size: 1em;
  opacity: 0.5;
}
